.container {
  width: 1280px;
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: 400;
}

/* start header */

.logo-wrapper {
  margin-top: 63px;
}

.header__link {
  font-size: 80px;
}

.header__title-first {
  color: #000000;
}

.header__title-second {
  color: #4bcaff;
}

.header-nav {
  background-color: #35444f;
  margin-top: 40px;
}

.header-nav__list,
.content-wrapper,
.image-wrapper,
.footer,
.footer__nav__list {
  display: flex;
}

.header-nav__list,
.image-wrapper {
  justify-content: center;
  align-items: center;
}

.header-nav__item {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.header-nav__link {
  display: inline-block;
  color: #ffffff;
  padding: 24px 40px 18px;
}

.header-nav__link,
.footer__text {
  font-size: 24px;
}

.header-nav__link:hover {
  background-color: #222f3a;
}

/* finish header */

/* start content */

.content-wrapper,
.footer,
.footer__nav__list {
  justify-content: space-between;
}

.content-wrapper {
  margin-top: 48px;
}

.aside {
  width: 344px;
  height: 399px;
}

.aside,
.image-wrapper {
  border: #000000 1px solid;
}

.aside__nav__link {
  display: block;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
  padding: 26px 0px;
  padding-left: 44px;
}

.aside__nav__link:hover {
  background-color: #dbdbdb;
  padding-left: 84px;
  color: #000000;
}

.main {
  width: 885px;
}

.image-wrapper {
  height: 529px;
}

.main__image {
  width: 320px;
  transition: transform 0.5s;
}

.main__image:hover {
  transform: scale(1.2);
}

.paragraph-wrapper {
  margin-top: 37px;
}

.paragraph {
  font-size: 18px;
  color: #2c2c2c;
}

.paragraph,
.footer__text {
  line-height: 24px;
}

.paragraph:not(:first-child) {
  margin-top: 34px;
}

/* finish content */

/* start footer */

.footer {
  margin-top: 51px;
  align-items: center;
  background: rgba(99, 105, 110, 0.48);
  margin-bottom: 30px;
  padding: 0 40px 0;
}

.footer__nav__list {
  font-size: 28px;
  line-height: 28px;
  width: 875px;
}

.footer__nav__item {
  margin: 20px 0px 21px;
}

.footer__nav__link {
  color: #0c1927;
}

.footer__nav__link:hover {
  color: #3181a6;
  border-bottom: #3181a6 1px solid;
  padding-bottom: 9px;
}

.footer__text {
  color: #010101;
}

/* finish footer */
